/* ==== Google font ==== */

@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
body {
    background: #6ac0bd;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.soon_message {
    color: white;
    font-size: 45px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

a {
    color: white;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    color: #6ac0bd;
    text-decoration: none;
    outline: 0;
}

a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.btn-theme {
    color: #fff;
    background-color: #4F92AF;
    border-color: #4F92AF;
}

.btn-theme:hover {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

form.signup input[type=email] {
    height: 42px;
    width: 200px;
    border-radius: 0;
    border: none;
}

form.signup button.btn {
    font-weight: 700;
}

form.signup input.form-control:focus {
    border-color: #fd680e;
}


/* wrapper */

#wrapper {
    text-align: center;
    background: url(../img/main-bg-compressor.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    box-sizing: border;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper>.container {
    padding-top: 50px;
}

#wrapper h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
}

h2.subtitle {
    color: #fff;
    font-size: 24px;
}


/* countdown */

#countdown {
    font-size: 48px;
    color: #fff;
    line-height: 1.1em;
    margin: 40px 0 60px;
}


/* footer */

p.copyright {
    margin-top: 50px;
    color: white;
    text-align: center;
}

.cloud {
    position: fixed;
    bottom: 40px;
    left: 20px;
}

.cloud.fliped img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.cloud.pos1 {
    right: 20px;
    left: auto;
    bottom: 70px;
}

.cloud.pos1 img {
    width: 100px;
}

.cloud.pos2 {
    bottom: 150px;
    right: 50px;
    left: auto;
}

.cloud.pos2 img {
    width: 150px;
}

.cloud.pos3 {
    bottom: 200px;
    left: 120px;
}

.cloud.pos3 img {
    width: 180px;
}

.result {
    position: absolute;
    top: 0px;
    padding: 7px 10px 7px 20px;
    left: auto;
    right: 0px;
    color: #fff;
}

.result.success {
    background: #2ecc71;
}

.result.error {
    background: #2c3e50;
}

.result span {
    margin-left: 10px;
}

.result.error span {
    margin-right: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .cloud {
        display: none;
    }
    input[type=email] {
        width: 100% !important;
    }
}
